<!doctype html>
<html lang="en" ng-app="frontendTest">
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="src/css/style.css">
    <title>Diamond - App Name</title>
  </head>
  <body>
    <div class="row col-lg-12 logo" ng-controller="MoviesController">
      <div class="col-lg-12">
        <div class="col-lg-3">
          <img src="src/img/diamond.png" alt="logo-image" height="200" width="200" />
        </div>
        <div class="col-lg-9 search-top">
          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" ng-click="searchMovie(search)">Search</button>
            </span>
            <input type="text" class="form-control" ng-model="search" placeholder="Search for name films...">
          </div>
        </div>
      </div>
      <div ng-view></div>
    </div>

    <!-- Modules -->
    <script src="src/js/app.js"></script>

    <!-- Controllers -->
    <script src="src/js/controllers/MovieController.js"></script>
    <script src="src/js/controllers/MoviesController.js"></script>
  </body>
</html>
